*.csv
bingo-simulator
bingo-simulator.exe
main.exe
main.ilk
main.obj
main.pdb
program
program.exe
src/randomtempbackup.txt
values.csv
vc140.pdb
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json